[Unit]
Description=UPS SNMP Server
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'if [ -f /root/ups/santak-ups-snmp-server.new ]; then rm -f /root/ups/santak-ups-snmp-server && mv /root/ups/santak-ups-snmp-server.new /root/ups/santak-ups-snmp-server && chmod +x /root/ups/santak-ups-snmp-server; fi'
ExecStart=/root/ups/santak-ups-snmp-server
User=root
WorkingDirectory=/root/ups
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target